# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
out
build
dist

# Misc
.DS_Store
*.log
*.lock
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment
.env
.env.local
.env.production.local
.env.development.local

# IDE
.vscode
.idea
